<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l('Personas')}}
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block()" (click)="refresh();"><i class="material-icons">refresh</i> {{l('Recargar')}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <button type="button" data-toggle="modal" class="btn btn-primary pull-left" (click)="crearPersona()">
                    <i class="material-icons">add</i>Crear Persona
                </button>
                <!-- ******************************************************** -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{{l('id')}}</th>
                            <th>{{l('Nombres')}}</th>
                            <th>{{l('Apellidos')}}</th>
                            <th>{{l('TipoDocumento')}}</th>
                            <th>{{l('Identificacion')}}</th>
                            <th>{{l('Telefono')}}</th>
                            <th>{{l('Acciones')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let persona of personas | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                            <td>{{persona.id}}</td>
                            <td>{{persona.nombres}}</td>
                            <td>{{persona.apellidos}}</td>
                            <td>{{persona.tipoDocumento}}</td>
                            <td>{{persona.identificacion}}</td>
                            <td>{{persona.telefono}}</td>
                            <td class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="editarPersona(persona)"><i class="material-icons">create</i>{{l('Editar')}}</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="delete(persona)"><i class="material-icons">delete_sweep</i>{{l('Borrar')}}</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- ******************************************************** -->
                <!--<div class="text-align: center;" *ngIf="totalItems > pageSize">
                    <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
                </div>-->

            </div>
        </div>
    </div>
</div>
<crear-persona-modal #crearPersonaModal (modalSave)="refresh()"></crear-persona-modal>
<editar-persona-modal #editarPersonaModal (modalSave)="refresh()"></editar-persona-modal>
