<div bsModal #editarPersonaModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editarPersonaModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #editarCursoForm="ngForm" id="frm_editar_persona" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("Editar Persona")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <mat-vertical-stepper>
                        <mat-step label="Informacion Personal">
                            <!--Identificacion y Numero-->
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <!--<mat-form-field>
                                <mat-select placeholder="Tipo Identificacion">
                                    <mat-option *ngFor="let sexo of listaSexo" [value]="sexo.value">
                                        {{sexo.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>-->

                                            <label class="form-label" for="tipoIdentificacion">{{l("tipoDocumento")}}</label>
                                            <input type="text" id="tipoIdentificacion" required maxlength="32" minlength="1" class="form-control validate form-control-plaintex" [(ngModel)]="persona.tipoDocumento" [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label class="form-label" for="identificacion">{{l("identificacion")}}</label>
                                            <input type="text" id="identificacion" required maxlength="32" minlength="1" class="form-control validate form-control-plaintex" [(ngModel)]="persona.identificacion" [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Nombre y apellido-->
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label class="form-label" for="nombres">{{l("nombres")}}</label>
                                            <input type="text" id="nombres" required maxlength="32" minlength="1" class="form-control validate form-control-plaintex" [(ngModel)]="persona.nombres" [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label class="form-label" for="apellidos">{{l("apellidos")}}</label>
                                            <input type="text" id="apellidos" required maxlength="32" minlength="1" class="form-control validate form-control-plaintex" [(ngModel)]="persona.apellidos" [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--telefono-->
                            <div class="row clearfix">

                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label class="form-label" for="telefono">{{l("telefono")}}</label>
                                            <input type="text" id="telefono" required maxlength="32" minlength="1" class="form-control validate form-control-plaintex" [(ngModel)]="persona.telefono" [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </mat-step>

                    </mat-vertical-stepper>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button [disabled]="!editarCursoForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        {{l("Guardar")}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


